/* nav */
nav{
    background: #ffff;
    height: 80px;
    width: 100%;
}

.logo {
    color: black;
    font-weight: 600;
    font-size: 20px;
    line-height: 80px;
    padding: 0 100px;
}

nav ul {
    float: right;
    margin-right: 100px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a {
    color: rgb(151, 150, 150);
}

/* Img */
.contImg {
    display: flex;
}

.image {
    width: 100%;
    height: 90vh;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    /* background-size: 100%; */
    /* background-image: linear-gradient(rgb(0,0,0,0.25), rgb(0,0,0,0.25)), url('./img/about-bg.jpg'); */
}


/* // */
.ourValues {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.contentValues1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 10px 20px;
  background-color: #e97c6f;
  color: #fff;
  width: 250px;
  height: 200px;
}
.contentValues2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 10px 20px;
  background-color: #6a996f;
  color: #fff;
  width: 250px;
  height: 200px;
}
.contentValues3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 10px 20px;
  background-color: #5596c2;
  color: #fff;
  width: 250px;
  height: 200px;
}

.textContent {
  justify-content: center;
}

/* Text Form */

.form {
  margin: 10px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
}

.button {
  padding: 10px 5px;
  background-color: #5596c2;
  width: 100%;
  margin-top: 10px;
  border: none;
  color: white;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
}

.popupError1{
    font-size: 10px;
    color: red;
}

/* Footer */
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 75px;
  
    
}
