@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
div {
  font-family: "Roboto", sans-serif;
}

footer{
  margin-top: 40px;
  background: #333333;
  height: auto;
  /* padding-top: 40px; */
  color: #fff;
}
